@{
    Layout = "_FormLayout";
}
<form action="/artistes" method="post">
    <h1 class="text-center">Add new artist</h1>
    <div class="form-group mt-2">
        <label for="name" class="form-label">Name Of Artist:</label>
        <input type="text" class="form-control text-center" id="name" name="name" required>
    </div>
    <div class="text-center mt-3">
        <button type="sumit" class="btn btn-light">Submit</button>
    </div>
</form>