@{
    Layout = "_Layout";
}
<div class="artist-form bg-dark">
    <div class="row justify-content-center">

        <div class="col-7 text-white mt-3">
            <p class="text-end h6"><a href="/">Home</a></p>
            @RenderBody()

        </div>
    </div>
</div>